<h1 align="center">Welcome To Chat App {{sender}}</h1>
<h3>CONTACT DETAILS</h3>
<div>
    <div class="contacts">
        <ul ng-repeat="user in details" type="none">
            <li ng-click="chatHistory(user.email)">{{user.username}}</li>
        </ul>
    </div>
    <div class="messageArea" ng-if="flag">
        <div class="chatHistory" id="chatWindow">
            <ul class="messages" ng-repeat="msg in messagesPacket track by $index" type="none">
                <li id="alignLeft" ng-class="{'alignRight':alignMessageRight(msg.sender)}" ng-if='msg.message!=""'>{{msg.message}}</li>
            </ul>
            <!-- <div id="alignLeft" ng-class="{'alignRight':ctrl.alignMessageRight(msg.sender)}">{{ctrl.newMessage}}</div> -->
        </div>
        <textarea rows="2" cols="70" type="text" ng-model="textArea" placeholder="Enter messages here "></textarea>
        <button ng-click="send(textArea)">send</button>
    </div>
</div>