<h1 align="center">Welcome To Chat App {{sender}}</h1>
<h3>CONTACT DETAILS</h3>
<div>
    <div class="contacts">
        <ul ng-repeat="user in ctrl.details" type="none">
            <li ng-click="ctrl.chatHistory(user.email)">{{user.username}}</li>
        </ul>
    </div>
    <div class="messageArea" ng-if="ctrl.flag">
        <div class="chatHistory" id="chatWindow">
            <ul class="messages" ng-repeat="msg in ctrl.messages track by $index" type="none">
                <li id="even" ng-if="msg.sentby==sender">{{msg.message}}</li> 
                <li id="odd" ng-if="msg.sentby==ctrl.receiver" >{{msg.message}}</li>
            </ul>
            {{ctrl.sentMessage}}
        </div>
        <textarea rows="2" cols="70" type="text" ng-model="ctrl.textArea" placeholder="Enter messages here "></textarea>
        <button ng-click="ctrl.send(ctrl.textArea)">send</button>
    </div>
</div>