<h1 align="center">Forgot Password</h1>
<div align="center">
    <div>
        <table id="tableid">
            <tr>
                <td colspan="2">
                    Enter your registered email id below
                </td>
            </tr>
            <tr>
                <td>email : </td>
                <td><input type="email" ng-model="ctrl.email" placeholder="Enter Your email" required /></td>
            </tr>
            <tr>
                <td>
                    <button ng-click="ctrl.forgotPassword(ctrl.email)">submit</button>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="snackbar">{{ctrl.snackbar}}</div>
                </td>
            </tr>
        </table>
    </div>
</div>