<h1 align="center">Sign Up</h1>
<div align="center">
    <div>{{ctrl.successMode}}</div>
    <table id="tableid" align="center">
        <tr>
            <td>
                <div id="snackbar">{{ctrl.snackbar}}</div>
            </td>
        </tr>
        <tr>
            <td>Username : </td>
            <td><input type="text" ng-model="ctrl.username" /></td>
        </tr>
        <tr>
            <td>firstname : </td>
            <td><input type="text" ng-model="ctrl.firstname" /></td>
        </tr>
        <tr>
            <td>lastname : </td>
            <td><input type="text" ng-model="ctrl.lastname" /></td>
        </tr>

        <tr>
            <td>email : </td>
            <td><input type="email" ng-model="ctrl.email" /></td>
        </tr>
        <tr>
            <td>password : </td>
            <td><input type="password" ng-model="ctrl.password" /></td>
        </tr>
        <tr>
            <td>confirmPassword : </td>
            <td><input type="password" ng-model="ctrl.confirmPassword" /></td>
        </tr>
        <tr>
            <td><button ng-click="ctrl.register()">save</button>
            </td>
        </tr>
    </table>
</div>